---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";
import DenverSkyline from "../../images/scenes/denver.jpg";
import FlytecoTower from "../../images/flyteco-tower.png";
import Section from "../../components/Section.astro";
import Button from "../../components/Button.astro";
import EventsTable from "../../components/EventsTable.astro";
import { scenes } from "../../data/scenes";

const blackOverlayClass = "absolute inset-0 w-full h-full opacity-60";
const textClass = "text-xl lg:text-2xl leading-loose";
---

<MainLayout title="Denver Scene">
  <section
    class="relative px-4 lg:px-12 py-8 lg:py-16 text-center text-white bg-black">
    <div class={blackOverlayClass}>
      <Image
        src={DenverSkyline}
        alt="Denver skyline against the Rocky Mountains"
        class={blackOverlayClass + " object-cover"}
      />
    </div>
    <div class="container mx-auto">
      <div class="flex-1 relative z-1">
        <h1 class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] text-white">
          Killer Queen Denver
        </h1>
      </div>
      <div class="flex-1 relative z-1">
        <p class={textClass + " drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"}>
          The Mile High City is low on oxygen but high on team spirit.<br /> Join
          our budding scene for casual games and competitive strategy!
        </p>
      </div>
    </div>
  </section>

  <div class="container mx-auto">
    <Section title="About Us">
      <div class="lg:max-w-lg">
        <p class="mb-2">
          We're a new scene and our goal is to grow the local community. We want
          to have fun learning this game together! Don't feel intimidated – new
          and casual players are welcome and encouraged to join. We don't charge
          money and we are happy to teach you how to play.
        </p>
        <p class="mb-2">Start chatting with us today on Discord!</p>
        <Button
          newTab
          text="Join our Discord"
          href="https://discord.gg/bXyA8sbYk4"
        />
      </div>
    </Section>

    <Section title="Upcoming Events" titleSide="right">
      <div slot="title">
        <EventsTable guild={scenes.denver.discord} />
      </div>

      <video autoplay loop muted playsinline class="rounded-lg">
        <source src="/assets/videos/sizzle2.mp4" type="video/mp4" />
      </video>
    </Section>

    <Section title="Location">
      <div slot="title" class="lg:max-w-lg">
        <p class="mb-2">
          📍
          <a href="https://maps.app.goo.gl/VpD5YowCzYTW4D4V6" target="_blank">
            FlyteCo Tower
            <br />
            3120 Uinta St, Denver, CO 80238
          </a>
        </p>
        <p class="mb-2">
          <a href="https://flytecotower.com/" target="_blank">FlyteCo Tower</a>
          is a family-friendly brewery, restaurant, and arcade. Take advantage of
          the convenient online ordering system and have food and drinks delivered
          right to you at the cabinet.
        </p>
        <p class="mb-2">
          The KQ cabinet is located on the second floor. Take a right after you
          walk in, then go up the stairs.
        </p>
        <Button
          newTab
          href="https://killerqueen.miraheze.org/wiki/Denver_Scene"
          text="Get directions"
        />
      </div>
      <div class="flex-1">
        <Image
          src={FlytecoTower}
          alt="FlyteCo Tower in Denver"
          class="rounded-lg"
        />
        <p class={textClass}></p>
      </div>
    </Section>
  </div>
</MainLayout>
