---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import {
  getScheduledEventsForGuild,
  type DiscordEvent,
} from "../logic/discord";
import Button from "./Button.astro";

dayjs.extend(utc);
dayjs.extend(timezone);

const GCAL_DATE_FORMAT = "YYYYMMDDTHHmmss[Z]";

interface Props {
  guild: { guildID: string; timezone: string };
}

const { guild } = Astro.props;
const events = await getScheduledEventsForGuild(guild.guildID);

function toGcalDate(date: string) {
  return dayjs(date).utc().format(GCAL_DATE_FORMAT);
}

function queryString(params: Record<string, string>) {
  return Object.entries(params)
    .map(([k, v]) => `${k}=${encodeURIComponent(v)}`)
    .join("&");
}

function gcalLink(event: DiscordEvent) {
  const { name, desc, start, end, location } = event;
  const dates = end
    ? `${toGcalDate(start.toISOString())}/${toGcalDate(end.toISOString())}`
    : toGcalDate(start.toISOString());
  const data = {
    dates,
    text: name,
    details: desc ?? "",
    location: location ?? "",
  };
  return `https://calendar.google.com/calendar/r/eventedit?${queryString(data)}`;
}

function formatDate(event: DiscordEvent) {
  const start = dayjs(event.start).tz(guild.timezone);
  const end = dayjs(event.end).tz(guild.timezone);
  return `${start.format("ddd MMM D")} ${start.format("ha")}-${end.format("ha")}`;
}
---

{
  events.length === 0
    ? "No events scheduled. Join our community and organize one!"
    : events.map((event) => (
        <div class="my-4 border-slate-300 border-2 rounded-md select-none cursor-pointer">
          <details class="hover:bg-slate-700 transition-all">
            <summary class="py-4 px-4">
              <div class="flex justify-between">
                <div class="font-bold">{event.name}</div>
                <div>{formatDate(event)}</div>
                <div>{event.location}</div>
              </div>
            </summary>
            <div class="px-4 pb-2">
              {event.desc}
              <div class="mt-4">
                <Button
                  newTab
                  size="sm"
                  text="Directions"
                  href={`https://www.google.com/maps/search/?api=1&query=${event.location}`}
                  classname="mr-2"
                />
                <Button
                  newTab
                  size="sm"
                  text="Add to Google Calendar"
                  href={gcalLink(event)}
                />
              </div>
            </div>
          </details>
        </div>
      ))
}

<style>
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>
