---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { getScheduledEventsForGuild } from "../logic/discord";
import EventCell from "./EventCell.astro";

dayjs.extend(utc);
dayjs.extend(timezone);

interface Props {
  guild: { guildID: string; timezone: string };
  maxEvents?: number;
  showMoreAfter?: number;
}

const { guild, maxEvents = 8, showMoreAfter = 3 } = Astro.props;
const e = (await getScheduledEventsForGuild(guild.guildID)).slice(0, maxEvents);
const eventsBefore = e.slice(0, showMoreAfter);
const eventsAfter = e.slice(showMoreAfter);
---

<script>
  document.querySelectorAll(".more-events-link").forEach((el) => {
    el.addEventListener("click", () => {
      document.querySelector(".more-events")?.classList.remove("hidden");
      document.querySelector(".more-events-link")?.classList.add("hidden");
    });
  });
</script>

{
  eventsBefore.length === 0
    ? "No events scheduled. Join our community and organize one!"
    : eventsBefore.map((event) => (
        <EventCell event={event} guildTZ={guild.timezone} />
      ))
}

{
  eventsAfter.length > 0 && (
    <>
      <div class="mb-4 lg:mb-0">
        <a class="more-events-link cursor-pointer select-none">
          Show {eventsAfter.length} more events
        </a>
      </div>
      <div class="more-events hidden">
        {eventsAfter.map((event) => (
          <EventCell event={event} guildTZ={guild.timezone} />
        ))}
      </div>
    </>
  )
}
