---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { getScheduledEventsForGuild } from "../logic/discord";
import EventCell from "./EventCell.astro";

dayjs.extend(utc);
dayjs.extend(timezone);

interface Props {
  guild: { guildID: string; timezone: string };
  maxEvents?: number;
  showMoreAfter?: number;
}

const { guild, maxEvents = 8, showMoreAfter = 3 } = Astro.props;
const e = (await getScheduledEventsForGuild(guild.guildID)).slice(0, maxEvents);
const eventsBefore = e.slice(0, showMoreAfter);
const eventsAfter = e.slice(showMoreAfter);
---

<script>
  const _me = document.querySelectorAll(".more-events");
  const _mel = document.querySelectorAll(".more-events-link");
  if (!_me || !_mel)
    throw new Error("EventsTable component is missing required elements");
  const me = _me;
  const mel = _mel;

  // @ts-expect-error
  window.showMoreEvents = () => {
    me.forEach((el) => el.classList.remove("hidden"));
    mel.forEach((el) => el.classList.add("hidden"));
  };
</script>

{
  eventsBefore.length === 0
    ? "No events scheduled. Join our community and organize one!"
    : eventsBefore.map((event) => (
        <EventCell event={event} guildTZ={guild.timezone} />
      ))
}

{
  eventsAfter.length > 0 && (
    <>
      <div class="mb-4 lg:mb-0">
        <a
          class="more-events-link cursor-pointer select-none"
          onclick="showMoreEvents()">
          Show {eventsAfter.length} more events
        </a>
      </div>
      <div class="more-events hidden">
        {eventsAfter.map((event) => (
          <EventCell event={event} guildTZ={guild.timezone} />
        ))}
      </div>
    </>
  )
}
